@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
   
}
<section class="features18 popup-btn-cards cid-qwwjt9VJ7s" id="features18-6" data-rv-view="64">

    

    
    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-5">Homes For Rent</h2>
        
        <div class="media-container-row pt-5 ">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper ">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="https://mobirisethemes.com" class="btn btn-white display-4">
                                RENT</a></div>
                        <img src="~/css/assets/images/norbert-levajsics-202945-2000x1333.jpg" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            $3500+
                        </h4>
                        <p class="mbr-text mbr-fonts-style align-left display-7">
                            Mobirise is an easy website builder - just drop site elements to your page, add content and style it to look the way you like.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="https://mobirisethemes.com" class="btn btn-white display-4">
                                RENT</a></div>
                        <img src="~/css/assets/images/ian-dooley-331064-2000x1333.jpg" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            $4310+
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                           All sites you make with Mobirise are mobile-friendly. You don't have to create a special mobile version of your site.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="https://mobirisethemes.com" class="btn btn-white display-4">
                                RENT</a></div>
                        <img src="~/css/assets/images/hannah-busing-310234-2000x1333.jpg" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">$4910+</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Mobirise offers many site blocks in several themes, and though these blocks are pre-made, they are flexible.
                        </p>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>

<section class="features18 popup-btn-cards cid-qwwA6cUyAc" id="features18-c" data-rv-view="67">

    

    
    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-5">Studio Apartments</h2>
        
        <div class="media-container-row pt-5 ">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper ">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="rental.html" class="btn btn-white display-4">
                                Check availability</a></div>
                        <img src="~/css/assets/images/norbert-levajsics-202945-2000x1333.jpg" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">$3310+</h4>
                        <p class="mbr-text mbr-fonts-style align-left display-7">
                            Mobirise is an easy website builder - just drop site elements to your page, add content and style it to look the way you like.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="rental.html" class="btn btn-white display-4">
                                Check availability</a></div>
                        <img src="~/css/assets/images/ian-dooley-331064-2000x1333.jpg" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            $2960+</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                           All sites you make with Mobirise are mobile-friendly. You don't have to create a special mobile version of your site.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="rental.html" class="btn btn-white display-4">
                                Check availability</a></div>
                        <img src="~/css/assets/images/hannah-busing-310234-2000x1333.jpg" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            $3155+
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Mobirise offers many site blocks in several themes, and though these blocks are pre-made, they are flexible.
                        </p>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>

<section class="mbr-section content8 cid-qwwvKT2gQm" id="content8-8" data-rv-view="70">

    

    <div class="container">
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <div class="mbr-section-btn align-center"><a class="btn btn-black display-4" href="https://mobirisethemes.com">VIEW MORE OFFERS</a></div>
            </div>
        </div>
    </div>
</section>

<section class="header4 cid-qwrivG5j9Z" id="header4-1" data-rv-view="71">

    

    

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="media-content col-md-10">
                <h1 class="mbr-section-title align-center mbr-white pb-3 mbr-bold mbr-fonts-style display-1">Special Offers</h1>
                
                <div class="mbr-text align-center mbr-white pb-3">
                    <p class="mbr-text mbr-fonts-style display-7">
                        Intro with background image, color overlay and a picture at the bottom. Mobirise helps you cut down development time by providing you with a flexible website editor with a drag and drop interface.
                    </p>
                </div>
                <div class="mbr-section-btn align-center"><a class="btn btn-md btn-black display-4" href="https://mobirisethemes.com">LEARN MORE</a></div>
            </div>
        
            <div class="mbr-figure pt-5" style="width: 60%;">
                <img src="~/css/assets/images/colin-maynard-138246-2500x1667.jpg" alt="Mobirise" title="" media-simple="true">
            </div>
        </div>
    </div>
</section>

<section class="cid-qwrixBaSkE" id="image4-2" data-rv-view="74">
    <!-- Block parameters controls (Blue "Gear" panel) -->
    
    <!-- End block parameters -->
    <div class="container images-container">
            <div class="media-container-row" style="width: 84%;">
                <div class="img-item item1" style="width: 177%;">
                    <img src="~/css/assets/images/breather-196135-4928x3280.jpg" alt="" title="" media-simple="true">
                    
                </div>
                <div class="img-item">
                    <img src="~/css/assets/images/liana-mikah-343238-6720x4480.jpg" alt="" title="" media-simple="true">
                    
                </div>
            </div>
    </div>
</section>

<section class="features18 popup-btn-cards cid-qwwy5BGprB" id="features18-a" data-rv-view="76">

    

    
    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-5">New Homes &amp; Communities</h2>
        
        <div class="media-container-row pt-5 ">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper ">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="rental.html" class="btn btn-white display-4">
                                BUY</a></div>
                        <img src="~/css/assets/images/norbert-levajsics-202945-2000x1333.jpg" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            $3310+
                        </h4>
                        <p class="mbr-text mbr-fonts-style align-left display-7">
                            Mobirise is an easy website builder - just drop site elements to your page, add content and style it to look the way you like.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="rental.html" class="btn btn-white display-4">
                                BUY</a></div>
                        <img src="~/css/assets/images/ian-dooley-331064-2000x1333.jpg" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            $3112+
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                           All sites you make with Mobirise are mobile-friendly. You don't have to create a special mobile version of your site.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="rental.html" class="btn btn-white display-4">
                                BUY</a></div>
                        <img src="~/css/assets/images/hannah-busing-310234-2000x1333.jpg" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            $2901+
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Mobirise offers many site blocks in several themes, and though these blocks are pre-made, they are flexible.
                        </p>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>

<section class="features18 popup-btn-cards cid-qwwyirwUK0" id="features18-b" data-rv-view="79">

    

    
    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-5">Newest Listings</h2>
        
        <div class="media-container-row pt-5 ">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper ">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="rental.html" class="btn btn-white display-4">
                                BUY</a></div>
                        <img src="~/css/assets/images/norbert-levajsics-202945-2000x1333.jpg" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            $3112+
                        </h4>
                        <p class="mbr-text mbr-fonts-style align-left display-7">
                            Mobirise is an easy website builder - just drop site elements to your page, add content and style it to look the way you like.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="rental.html" class="btn btn-white display-4">
                                BUY</a></div>
                        <img src="~/css/assets/images/ian-dooley-331064-2000x1333.jpg" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            $2912+
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                           All sites you make with Mobirise are mobile-friendly. You don't have to create a special mobile version of your site.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="rental.html" class="btn btn-white display-4">
                                BUY</a></div>
                        <img src="~/css/assets/images/hannah-busing-310234-2000x1333.jpg" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            $2812+
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Mobirise offers many site blocks in several themes, and though these blocks are pre-made, they are flexible.
                        </p>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>

<section class="features11 cid-qwriAQHgM0" id="features11-4" data-rv-view="82">

    

    

    <div class="container">   
        <div class="col-md-12">
            <div class="media-container-row">
                <div class="mbr-figure" style="width: 50%;">
                    <img src="~/css/assets/images/joel-filipe-166058-2000x2831.jpg" alt="Mobirise" title="" media-simple="true">
                </div>
                <div class=" align-left">
                    <h2 class="mbr-title pt-2 mbr-fonts-style display-5">Special Offer</h2>
                    <div class="mbr-section-text">
                        <p class="mbr-text mb-5 pt-3 mbr-light mbr-fonts-style display-7">
                        Morbi ullamcorper sed mi in dapibus. Aliquam ultrices ornare lectus. Ut rutrum, metus sed pellentesque sodales, orci lectus aliquam lacus, a sollicitudin eros dui et lacus. 
                        </p>
                    </div>

                    <div class="block-content">
                        <div class="card p-3 pr-3">
                            <div class="media">
                                     
                                <div class="media-body">
                                    <h4 class="card-title mbr-fonts-style display-7">2 Bedroom</h4>
                                </div>
                            </div>                

                            <div class="card-box">
                                <p class="block-text mbr-fonts-style display-7">
                                   Sed elit erat, scelerisque ac tincidunt ut, pharetra vel enim. Integer ultrices et odio sed molestie. Morbi libero leo, bibendum id nulla sit amet, fringilla dapibus enim. 
                                </p>
                            </div>
                        </div>

                        <div class="card p-3 pr-3">
                            <div class="media">
                                     
                                <div class="media-body">
                                    <h4 class="card-title mbr-fonts-style display-7">1 Bedroom</h4>
                                </div>
                            </div>                

                            <div class="card-box">
                                <p class="block-text mbr-fonts-style display-7">Aliquam euismod ultrices urna id egestas. Nam et massa vel eros porta tempor. Aliquam nec gravida est. Etiam gravida a massa eu placerat. Curabitur aliquet sit amet tortor ut bibendum.&nbsp;<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>          
</section>

<section class="mbr-section form1 cid-qwxa4OcHWG" id="form1-m" data-rv-view="85">

    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-5">CONTACT US</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-7">Sed ac sem eget elit vestibulum maximus at et neque.</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" data-form-type="formoid">
                    <div data-form-alert="" hidden="">
                        Thanks for filling out the form!
                    </div>
            
                    <form class="mbr-form" action="https://mobirisethemes.com/" method="post" data-form-title="Mobirise Form"><input type="hidden" data-form-email="true" value="4lXq/e/7Voa+BHqHPsfHQ6zWvWWDBuhgQOCpm96khFsPeNqotT5T2EnQf9vHOcq3Q5Sr4UzHVPhbNqS7gRzMdX1ZCEmD1+OQSy0ff+lcsPYvcMPyIsdUnt0wN1SWwK4R">
                        <div class="row row-sm-offset">
                            <div class="col-md-4 multi-horizontal" data-for="name">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="name-form1-m">Name</label>
                                    <input type="text" class="form-control" name="name" data-form-field="Name" required="" id="name-form1-m">
                                </div>
                            </div>
                            <div class="col-md-4 multi-horizontal" data-for="email">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="email-form1-m">Email</label>
                                    <input type="email" class="form-control" name="email" data-form-field="Email" required="" id="email-form1-m">
                                </div>
                            </div>
                            <div class="col-md-4 multi-horizontal" data-for="phone">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="phone-form1-m">Phone</label>
                                    <input type="tel" class="form-control" name="phone" data-form-field="Phone" id="phone-form1-m">
                                </div>
                            </div>
                        </div>
                        <div class="form-group" data-for="message">
                            <label class="form-control-label mbr-fonts-style display-7" for="message-form1-m">Message</label>
                            <textarea type="text" class="form-control" name="message" rows="7" data-form-field="Message" id="message-form1-m"></textarea>
                        </div>
            
                        <span class="input-group-btn"><button href="" type="submit" class="btn btn-form btn-black display-4">SEND FORM</button></span>
                    </form>
            </div>
        </div>
    </div>
</section>